<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공연정보</title>
    <link rel='stylesheet' href='/js/lib/bootstrap-4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/common/common.css'>
    <style>

        .map_wrap, .map_wrap * {
            margin: 0;
            padding: 0;
            font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
            font-size: 12px;
        }

        .map_wrap a, .map_wrap a:hover, .map_wrap a:active {
            color: #000;
            text-decoration: none;
        }

        .map_wrap {
            position: relative;
            width: 100%;
            height:600px;
        }

        .mapDiv {
            width : 100%;
            height: 100%;
        }

        .menu_wrap {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 230px;
            margin: 10px 0 30px 10px;
            padding: 5px;
            overflow-y: auto;
            background: rgba(255, 255, 255, 0.7);
            z-index: 1;
            font-size: 12px;
            border-radius: 10px;
        }

        .menu_wrap hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #5F5F5F;
            margin: 3px 0;
        }


        /*.mapWrapper {*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    position: relative;*/
        /*    overflow: hidden;*/
        /*}*/

    </style>
</head>
<body>
<header th:replace="/fragments/header"></header>
<div class='container'>

    <h3>공연 등록</h3>

    <div class="row">
        <div class="col-md-7">
            <div class="map_wrap">
                <div id="map" class="mapDiv">
                </div>
                <div id="menu_wrap" class="menu_wrap">
                    <div >
                        <div>
                            키워드 : <input type="text" value="" id="locName" name="locName" size="15">
                            <button id="mapSearchBtn" type="button">검색</button>
                            <hr>
                            <table id="searchTable">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- map 영역-->



        <input class='form-control' readonly id='no' type='hidden' name='no'>

        <div class='col-md-5'>
            <div class='form-group'>
                <label for='location'>공연장소</label>
                <input class='form-control' id='mapAddress' type='text' name='location'>
            </div>

            <div class='form-group'>
                <label for='entryDate'>공연날짜</label>
                <input class='form-control' readonly id='entryDate' type='text' name='entryDate'>
                <a href='#entryDate'><img class='addon' src='../map-image/cal.png' width='50px' height='50px'></a>
            </div>

            <div class='form-group'>
                <label for='title'>제목</label>
                <input class='form-control' id='title' type='text' name='title'>
            </div>

            <div class='form-group artistInput'>
                <label for='artistName'>아티스트 이름</label>
                <button id="findBtn" type="button" class='btn btn-dark btn-sm searchBtn' data-toggle="modal" data-target="#exampleModalCenter">검색</button>
                <input class='form-control' readonly id='artistName' type='text' name='artist.name'>
            </div>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="modal-body">
                            <h2>아티스트 검색</h2>
                            <nav class="navbar navbar-light justify-content-between">
                                <form class="form-inline">
                                    <input id="words" name="words" class="form-control form-control-xs" type="search"
                                           style="width: 350px; height: 30px;" placeholder="이름을 입력하세요"
                                           aria-label="Search">
                                    <button id="searchBtn" class="btn btn-sm btn-outline-success my-2 my-sm-0" type="button">Search</button>
                                </form>
                            </nav>

                            <table id="list" class='table table-hover'>
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>사진</th>
                                    <th>아티스트명</th>
                                </tr>
                                </thead>

                                <tbody></tbody>
                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a id="prevBtn" class="page-link"
                                                             tabindex="-1">이전</a></li>

                                    <li class="page-item"><a id="currBtn" class="page-link"
                                                             href="#">1</a></li>

                                    <li class="page-item "><a id="nextBtn"
                                                              class="page-link" tabindex="0">다음</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal-footer">
                            <button id="closeBtn" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>


            <div class='form-group'>
                <label for='genre'>공연장르</label> <select class="custom-select"
                                                        id="genre" name="genre" value=''>
                <option selected></option>
                <option value='솔로'>솔로</option>
                <option value='그룹'>그룹</option>
                <option value='발라드'>발라드</option>
                <option value='R & B'>R & B</option>
                <option value='락'>락</option>
                <option value='랩'>랩</option>
                <option value='개그'>개그</option>
                <option value='마술'>마술</option>
            </select>
            </div>

            <div class='form-group'>
                <label for='detailDesc'>내용</label>
                <textarea class='form-control' id='detailDesc' name='detailDesc'></textarea>
            </div>

            <input class='form-control' readonly id='artistNo' type='hidden'
                   name='artist.no'> <input class='form-control' readonly
                                            id='mapx' type='hidden' name='mapx'> <input
                class='form-control' readonly id='mapy' type='hidden' name='mapy'>

            <input class='form-control' readonly id='regDate' type='hidden' name='regDate'>
            <input class='form-control' readonly id='viewCount' type='hidden' name='viewCount'>

            <div class='form-group buttonlist'><button id="updateBtn" type="button" class='btn btn-dark btn-sm my-view'>변경</button>
                <button id="deleteBtn" type="button" class='btn btn-dark btn-sm my-view'>삭제</button>
                <button id="addBtn" type="button" class='btn btn-dark btn-sm my-new'>추가</button>
            </div>
            </form>
        </div>
    </div>
</div>




<!--<script src="/js/lib/bootstrap-template/vendor/jquery/jquery.js"></script>-->
<!--<script src="/js/lib/jquery/dist/jquery-migrate.js"></script>-->

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l3jstra059&submodules=geocoder"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
        // var map = new naver.maps.Map("map", {
        //     center: new naver.maps.Point(37.3595704, 127.105399),
        //     zoom: 10,
        //     mapTypes: new naver.maps.MapTypeRegistry({
        //         'normal': naver.maps.NaverMapTypeOption.getNormalMap({
        //             projection: naver.maps.TM128Coord
        //         }),
        //         'terrain': naver.maps.NaverMapTypeOption.getTerrainMap({
        //             projection: naver.maps.TM128Coord
        //         }),
        //         'satellite': naver.maps.NaverMapTypeOption.getSatelliteMap({
        //             projection: naver.maps.TM128Coord
        //         }),
        //         'hybrid': naver.maps.NaverMapTypeOption.getHybridMap({
        //             projection: naver.maps.TM128Coord
        //         })
        //     }),
        //     mapTypeControl: true
        // });

        // var marker = new naver.maps.Marker({ // 초기 마커 설정
        //     position: new naver.maps.LatLng(37.3595704, 127.105399),
        //     map: map
        // });

        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        };

        var map = new naver.maps.Map('map', mapOptions);

        $("#mapSearchBtn").click(function() {
            alert('test');
            let searchName = $("#locName").val();

            if(!searchName){
                alert('검색어를 입력해주세요');
                return;
            }

            naver.maps.Service.geocode({
                query: searchName
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert('Something wrong!');
                }

                var result = response.v2, // 검색 결과의 컨테이너
                    items = result.addresses; // 검색 결과의 배열

                // do Something
            });
        })

    });
</script>

<script type="text/javascript">

    //기본 생성

    // var markers = [];
    // var markerArray = [];
    // var prevMarker;

    // $('#searchTable').on('click', '.addressLink',(event) => {
    //     event.preventDefault();
    //
    //     var target = event.target;
    //     if (!(event.target instanceof HTMLAnchorElement))
    //         target = event.target.parentNode;
    //
    //     var title = $(target).html();
    //
    //     for (var marker of markerArray) {
    //         if (marker.title == title) {
    //             console.log('===>', marker.title);
    //             if (prevMarker) {
    //                 prevMarker.setIcon();
    //             }
    //             marker.setIcon({
    //                 url:'../map-image/selectMarker.png'
    //             });
    //             prevMarker = marker;
    //             break;
    //         }
    //     }
    //
    //
    //     initMap($(target).attr('mapx'),$(target).attr('mapy'));
    //     $(document).ready(function() {
    //         $('#mapx').val($(target).attr('mapx'));
    //         $('#mapy').val($(target).attr('mapy'));
    //         if($(target).attr('roadAddress')){
    //             $('#mapAddress').val($(target).attr('roadAddress'));
    //         } else{
    //             $('#mapAddress').val($(target).attr('address'));
    //         }
    //
    //     });
    // });
    //
    //
    // function initMap(x,y) {
    //     map.set₩(new naver.maps.Point(x, y));
    // }
    //
    // // initMap(result.data.mapx, result.data.mapy);
    // // marker = new naver.maps.Marker({
    // //     position: new naver.maps.Point(result.data.mapx, result.data.mapy),
    // //     map: map,
    // // });
    //
    // var addBtn = $('#addBtn'),
    //     updateBtn = $('#updateBtn'),
    //     deleteBtn = $('#deleteBtn'),
    //     searchBtn = $('#searchBtn'),
    //     noItem = $('#no'),
    //     titleItem = $('#title'),
    //     detailDescItem = $('#detailDesc'),
    //     genreItem = $('#genre'),
    //     entryDateItem = $('#entryDate'),
    //     locationItem = $('#mapAddress'),
    //     specialDescItem = $('#specialDesc'),
    //     writerItem = $('#writer'),
    //     regDateItem = $('#regDate'),
    //     viewCountItem = $('#viewCount'),
    //     sendBtn = $('#sendBtn'),
    //     searchTableTbody = $('#searchTable > tbody'),
    //     mapxItem = $('#mapx'),
    //     mapyItem = $('#mapy'),
    //     artistNoItem = $('#artistNo'),
    //     findBtn = $('#findBtn'),
    //     prevBtn = $('#prevBtn'),
    //     currBtn = $('#currBtn'),
    //     nextBtn = $('#nextBtn'),
    //     closeBtn = $('#closeBtn'),
    //     listTableTbody = $('#list > tbody'),
    //     words = $('#words'),
    //     artistNameItem = $('#artistName'),
    //     currPageNo = 1;
    //
    // $(document.body).on('login', (event, obj) => {
    //     /* console.log('로그인 정보 가져오기:', loginUser.no); */
    //     load();
    // });
    //
    // $('header').load('../header.html', () => {
    //     load();
    // });
    // $('footer').load('../footer.html');
    //
    // findBtn.click(() => {
    //     listTableTbody.html("");
    //     search(1)
    // });
    //
    // searchBtn.click(() => {
    //     /*     event.preventDefault(); */
    //     search(1, {
    //         "words": $('#words').val()
    //     })
    // });
    //
    // prevBtn.click (() => {
    //     search(currPageNo - 1)
    // });
    //
    // nextBtn.click (() => {
    //     search(currPageNo + 1)
    // });
    //
    //
    // var index = location.href.indexOf('?');
    //
    //
    // function load() {
    //     if (index != -1) {
    //         var qs = location.href.substr(index + 1);
    //         var arr = qs.split('=');
    //         $('h3').html("공연 정보");
    //         $('.my-new').css('display', 'none');
    //         $(() => {
    //             $.ajax('../json/request/' + arr[1], {
    //                 dataType: 'json',
    //                 success: (result) => {
    //                     noItem.val(result.data.no);
    //                     titleItem.val(result.data.title);
    //                     detailDescItem.val(result.data.detailDesc);
    //                     genreItem.append('<option selected>' + result.data.genre + '</option>')
    //                     entryDateItem.val(formatDate(result.data.entryDate));
    //                     locationItem.val(result.data.location);
    //                     specialDescItem.val(result.data.specialDesc);
    //                     regDateItem.val(formatDate(result.data.regDate));
    //                     writerItem.val(result.data.writer);
    //                     viewCountItem.val(result.data.viewCount);
    //                     mapxItem.val(result.data.mapx);
    //                     mapyItem.val(result.data.mapy);
    //                     artistNoItem.val(result.data.artno);
    //                     artistNameItem.val(result.data.artist.artistName);
    //
    //
    //
    //                     if (result.data.artno == loginUser.no) {
    //                         $('.my-view').css('display', 'none');
    //                     }
    //
    //                 },
    //                 error: () => {
    //                     window.alert('서버 실행 오류!');
    //                 }
    //             });
    //         });
    //     } else {
    //         $('.my-view').css('display', 'none');
    //     }
    // }
    //



    // sendBtn.click(()=>{
    //     marker.setMap(null);
    //     for (var i = 0; i < markers.length; i++) {
    //         markers[i].setMap(null);
    //     }
    //
    //     $.ajax('../json/request/form',{
    //         data: {
    //             locName : $('#location').val(),
    //         },
    //         /* method:'GET', */
    //         success:(response)=>{
    //             console.log("성공")
    //             console.log(response);
    //             searchTableTbody.html('');
    //             markerArray = [];
    //             initMap(response.items[0].mapx, response.items[0].mapy);
    //             for (var item of response.items){
    //                 var result = item.roadAddress ? item.roadAddress : item.address
    //                 console.log(result);
    //                 $('<tr>')
    //                     .html("<td><a class='addressLink' href='#' mapx='" + item.mapx + "' mapy='" + item.mapy + "' roadAddress= '" + result + "'>" + item.title + "</a></td>")
    //                     .appendTo(searchTableTbody);
    //                 $('<tr>')
    //                     .html("<td>" + result + "</td>")
    //                     .appendTo(searchTableTbody);
    //                 $('<hr>')
    //                     .appendTo(searchTableTbody);
    //
    //                 marker = new naver.maps.Marker({
    //                     position: new naver.maps.Point(item.mapx, item.mapy),
    //                     map: map,
    //                 });
    //                 marker.title = item.title;
    //                 markerArray.push(marker);
    //                 markers.push(marker);
    //             } // for문 */
    //
    //
    //             for (var marker of markerArray) {
    //                 console.log(marker.title)
    //             }
    //         }, //성공
    //         error:()=>{
    //             window.alert('실행오류');
    //         }
    //
    //     }); //ajax 종료
    // });


    // addBtn.click(() => {
    //     $.ajax('../json/request/add', {
    //         data: {
    //             title: titleItem.val(),
    //             detailDesc: detailDescItem.val(),
    //             genre: genreItem.val(),
    //             entryDate: entryDateItem.val(),
    //             location: locationItem.val(),
    //             specialDesc: specialDescItem.val(),
    //             mapx: mapxItem.val(),
    //             mapy: mapyItem.val(),
    //             'artist.no': artistNoItem.val()
    //         },
    //         dataType: 'json',
    //         method: 'POST',
    //         success: (result) => {
    //             console.log(entryDate);
    //             location.href = "list.html";
    //         },
    //         error: () => {
    //             window.alert('서버 실행 오류!');
    //         }
    //     });
    //
    // });
    //
    //
    // updateBtn.click(() => {
    //     $.ajax('../json/request/update', {
    //         data: {
    //             no : noItem.val(),
    //             title: titleItem.val(),
    //             detailDesc: detailDescItem.val(),
    //             genre: genreItem.val(),
    //             entryDate: entryDateItem.val(),
    //             location: locationItem.val(),
    //             specialDesc: specialDescItem.val(),
    //             mapx: mapxItem.val(),
    //             mapy: mapyItem.val(),
    //             'artist.no': artistNoItem.val()
    //         },
    //         dataType: 'json',
    //         method: 'POST',
    //         success: (result) => {
    //             location.href = "list.html";
    //         },
    //         error: () => {
    //             window.alert('서버 실행 오류!');
    //         }
    //     });
    // });
    //
    //
    // deleteBtn.click(() => {
    //     $.ajax('../json/request/delete', {
    //         data: {
    //             no: noItem.val()
    //         },
    //         dataType: 'json',
    //         success: (result) => {
    //             location.href = "list.html";
    //         },
    //         error: () => {
    //             window.alert('서버 실행 오류!');
    //         }
    //     });
    // });


    // function pad(n, width) {
    //     n = n + '';
    //     return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
    // }
    //
    // function save(no,name){
    //     console.log("save success")
    //     $('#artistNo').val(no);
    //     $('#artistName').val(name);
    //     closeBtn.click();
    //
    // }
    //
    // function formatDate(jason) {
    //     var jasondate = new Date(jason),
    //         yyyy=jasondate.getFullYear().toString(),
    //         mm = (jasondate.getMonth() + 1).toString(),
    //         dd = jasondate.getDate().toString(),
    //         hh = jasondate.getHours().toString(),
    //         minmin = jasondate.getMinutes().toString();
    //
    //     return yyyy +"-"+(mm[1] ? mm : '0'+mm[0])+"-"+(dd[1] ? dd : '0'+dd[0])+" "+(hh[1] ? hh : '0'+hh[0])+":"+(minmin[1] ? minmin : '0'+minmin[0]);
    // }



    // function search(pageNo, options) {
    //
    //     if (options == undefined) options = {};
    //     options.pn = pageNo;
    //     $.ajax('../json/member/artistList', {
    //         /*method: 'GET',*/
    //         data: options,
    //         dataType: 'json',
    //         success: (result) => {
    //             listTableTbody.html("");
    //             var filename;
    //             for (var data of result.list) {
    //                 console.log(data.type);
    //
    //                 if(data.type == '아티스트'){
    //                     if (data.photo == null) {
    //                         filename = 'no_img.jpg';
    //                     } else {
    //                         filename = data.photo;
    //                     }
    //                     $('<tr>').
    //                     html(
    //                         "<td>" + data.no + "</td>" +
    //                         "<td><a onclick='save(" + data.no + ',"' + data.artist.artistName + "\")'>"+
    //                         "<img src='../download/" + filename + "' height=50></a></td>" +
    //                         "<td>" +  data.artist.artistName + "</td>")
    //                         .appendTo(listTableTbody);
    //                 }
    //             }
    //             currPageNo = result.pageNo;
    //             currBtn.html(currPageNo);
    //
    //             if (result.pageNo == 1) {
    //                 $(prevBtn.parent()).addClass("disabled");
    //             } else {
    //                 $(prevBtn.parent()).removeClass("disabled");
    //             }
    //
    //             if (result.lastPageNo == result.pageNo) {
    //                 $(nextBtn.parent()).addClass("disabled");
    //             } else {
    //                 $(nextBtn.parent()).removeClass("disabled");
    //             }
    //         },
    //         error: () => {
    //             window.alert('서버 실행 오류!');
    //         }
    //     });
    // }

</script>

</body>
</html>
