spring:
  datasource:
    url: jdbc:mariadb://192.168.219.100:3306/buskingbusking
#    url: jdbc:h2:tcp://localhost/~/buskingbusking
#    url: jdbc:h2:tcp://localhost:9092/mem:buskingbusking
    username: sorry
    password: 1111
    driver-class-name: org.mariadb.jdbc.Driver
  devtools:
    livereload:
      enabled: true
  thymeleaf:
    cache: false


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
          # show_sql: true
      format_sql: true

logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.type: trace