server:
  port: 9999
spring:
  datasource:
      url: jdbc:h2:tcp://localhost/~/buskingbusking
      username: sa
      passowrd:
      driver-class-name: org.h2.Driver
  devtools:
    livereload:
      enabled: true
  thymeleaf:
    cache: false
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
          # show_sql: true
      format_sql: true
logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.type: trace