<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel='stylesheet' href='/css/member/signUp.css'>
<link rel='stylesheet' href='/css/common/common.css'>
<body>
<header th:replace="/fragments/header"></header>


<form id='formData' action="/member/saveMember" method="post" enctype="multipart/form-data">

    <div id="mainDiv" class="mainDiv">
        <div class="title">
            <span id="registration" class="registration">Registration</span>
            <input type="radio" value="일반회원" id="type1" name="type" checked="checked"/>
            <label for="type1" class="radioLable">일반회원</label>
            <input type="radio" value="아티스트" id="type2" name="type"/>
            <label for="type2" class="radioLable">아티스트</label>
        </div>

        <div id="formDivOne">
            <div id="divOne">

                <div id="photoInputDiv" class="photoInputDiv">
                    <div id="image-cropper">
                        <h4>프로필 이미지</h4>
                        <input type="file"  name="file" class="cropit-image-input">
                    </div>
                </div>

                <div id="personalInfoDiv" class="personalInfoDiv">
                    <div class="PersonalPositioning">
                        <div id="emailDiv" class="emailDiv">
                            <h4>개인 정보 입력</h4>
                            <label class="icon" for="email"><i class="icon-envelope"></i></label>
                            <input type="email" id='email' name="email" placeholder="example@email.com" required/>
                                <p></p>
                            </div>
                        </div>

                        <div id="nickNameDiv">
                            <label class="icon" for="nickName"><i class="icon-user"></i></label>
                            <input type="text" id="nickName" name="nickName" placeholder="닉네임" required/>
                            <!--<td class="err" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>-->
                        </div>

                        <div id="passwordDiv">
                            <label class="icon" for="password"><i class="icon-shield"></i></label>
                            <input type="password" id="password" name="password" placeholder="비밀번호" required/>
                            <div class="checkMessages">
                            </div>
                        </div>

                        <div id="pwConfirmDiv">
                            <label class="icon" for="pwConfirm"><i class="icon-shield"></i></label>
                            <input type="password" id="pwConfirm" name="pwConfirm" placeholder="비밀번호 확인" required/>
                            <div class="checkMessages" id="chkPwMsg">
                                <p></p>
                            </div>
                        </div>

                        <div id="messageFlagDiv">
                            <input type="radio" id="msgY" name="msgYn" value="Y" checked="checked">
                            <label for="msgY" class="radioLable">메시지 수신</label>
                            <input type="radio" id="msgN" name="msgYn" value="N">
                            <label for="msgN" class="radioLable">메시지 거부</label>
                        </div>

                        <div id='messageIdDiv'>
                            <label class="icon" for='msgId'><i class="icon-user"></i></label>
                            <input type='text' id='msgId' name='msgId' placeholder="카카오톡 ID">
                        </div>
                    </div><!-- personInfo End -->
                </div>
            </div>

            <div id="divTwo">
                <div id="artistInfoDiv" class="artistInfoDiv">

                    <div class="artistPositioning">
                        <h3>아티스트 정보</h3>

                        <div id="artistNameDiv" class="artistNameDiv">
                            <label class="icon" for='artistName'><i class="icon-male"></i></label>
                            <input id='artistName' type='text' name='artist.artistName' value="" placeholder="아티스트/팀명">
                        </div>

                        <div id="artistMemberDiv" class="artistMemberDiv">
                            <label class="icon" for='artistMember'><i class="icon-male"></i></label>
                            <input id='artistMember' type='text' name='artist.artistMember' value="" placeholder="팀 구성원">
                        </div>

                        <div id="joinDateDiv" class="joinDateDiv">
                            <label class="icon" for='joinDate'><i class="icon-male"></i></label>
                            <input id='joinDate' type='date' placeholder="팀 결성 날짜">
                        </div>

                        <div id="profileDiv" class="profileDiv">
                            <textarea id='profile' name='artist.profile' placeholder="아티스트 프로필"></textarea>
                        </div>

                    </div>
                </div>

                <div id="InterestInfoDiv" class="InterestInfoDiv">

                    <div id="interestAreasDiv">
                        <label for='interestAreas' id="interestAreas">관심 지역</label>

                        <div id="areasDiv" class="positioning">
                            <table id="areasTable">
                                <tbody id="areasTbody">
                                    <tr>
                                        <td th:each="locCode : ${LocCodeList}" th:text="${locCode.codeDesc}"></td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                    </div>


                    <div id="interestgenresDiv">
                        <label for='interestgenres' id='interestgenres'>관심 장르</label>

                        <div id="genresDiv" class="positioning">
                            <table id="genresTable">
                                <tbody id="genresTbody">
                                    <tr >
                                        <td th:each="genreCode : ${GenreCodeList}" th:text="${genreCode.codeDesc}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
             <button class="button" id="addBtn" type="button" style="text-align: center;">회원 가입</button>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/member/memberForm.js"></script>
</body>
</html>