<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="main-nav" th:fragment="header">
        <!-- 로고 영역-->
        <a href="/">
            <img class="logo-img" src="/image/index-image/play-button.png">
        </a>

        <!-- 메뉴영역 -->
        <div class="nav-main">
            <a href="/notice/list">공지사항</a>
            <a href="/performance/list">공연정보</a>
            <a href="/performance/form">공연등록</a>
            <a href="/performanceReview/list.html">공연리뷰</a>
            <a href="/request/form.html">공연요청</a>
            <a href="/grape/list.html">후원하기</a>
            <!-- 오른쪽 버튼 영역-->
            <div class="nav-right" id="nav-right">
                <a href="/member/signUp">회원가입</a>
                <a href="/auth/loginForm">로그인</a>

              
            </div>

        </div>


    </div>
