<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<meta name="viewport" content="initial-scale=1, width=device-width"/>-->
    <title>버스킹 버스킹</title>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
</head>
<body>
<div class="container">
    <header th:replace="fragments/header"></header>

    <section class="poster-bg" id="poster-bg">
        <div class="poster-box" id="poster-box">
            <div class="poster-bottom">
                <figure><a onclick='poster()'><img src="image/index-image/config1%20(1).jpg"></a></figure>
                <figure><a href=""><img src="image/index-image/config1%20(2).jpg"></a></figure>
                <figure><a href=""><img src="image/index-image/config1%20(3).jpg"></a></figure>
                <figure><a href=""><img src="image/index-image/config1%20(4).jpg"></a></figure>
            </div>

        </div>
        <div class="poster-right">
            <h2>Concert</h2>
            <h1>Coldplay</h1>
            <h3>Mylo Xyloto</h3>
            <a href="">- see more -</a>
        </div>
    </section>
    <section class="list-container">
        <div class="performance">
            <h1>버스킹버스킹 인기공연</h1>
            <div class="hover01 column"></div>
        </div>
        <img id='prevBtn' class='button prev' src='/image/index-image/left-arrow.png'>
        <img id='nextBtn' class='button next' src='/image/index-image/right-arrow.png'>
    </section>
    <section class="blank">
        <img src="/image/index-image/blank.png">
    </section>
    <footer class="clearfix">
    </footer>
</div>
</body>
</html>