@charset "utf-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


*{margin:0;padding:0;}
a { text-decoration: none; color: #222;}

body {
    background-color: #fff;
    font-family: 'Nanum Gothic','Noto Sans';
    color: #222;
}
header{
    background-color: white;
    border-bottom: 1px solid black;
}
.nav-main {
    padding-top: 20px;
    text-align: center;
}
.nav-main a {
    padding: 0 25px;
    font-weight: bold;
    font-size: 18px;
}
.nav-main a:hover {
    border-bottom: 2px solid #222;
    padding-bottom: 11px;
}
.main-nav{
    clear:both;
    height: 60px;
}
.logo-img{
    width:150px;
    margin-top: 5px;
    float: left;
}
.main-nav {
    margin: 10px;
}
.nav-right{
    float: right;
    text-align:right;
}
.nav-right span{
    font-size: 15px;
    color:crimson;
    font-weight: bold;
}
.nav-right a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
.nav-right a:hover{
    border-bottom: 2px solid #222;
    padding-bottom: 11px;
}

.nav-text{
    margin: auto;
    width: 600px;
    padding-top: 10px;
}
.main-nav div img{
    width: 13%;
    padding: 0 10px;
}

/* 본문 */

.notice{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fafafa;
    text-align: center;
    font-size: 20px;
    height: 70px;
}
.poster-bg{
    height: 800px;
    clear: both;
    position:relative;
    background-image: url(../index-image/main-poster-1.jpg);
    background-position: bottom;
    background-size:cover;
}
.poster-box{
    display:none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 200px;
    bottom: 0;
    opacity: 0.65;
}
.poster-bottom{
    width:600px;
    height:200px;
    margin: auto;
}
.poster-bottom figure{
    padding-top: 10px;
    float:left;
    margin:0 4px;
}

.poster-bottom figure img{
    width:140px;
    border: 1px solid white;
    height:180px;
    transition: all 0.5s ease-in-out;
}
.poster-bottom figure img:hover{
    transform: scale(0.9);
}
.poster-right{
    position: absolute;
    background-color: black;
    width: 400px;
    height: 75%;
    right: 0;
    opacity: 0.85;
}
.poster-right{
    padding-top: 200px;
    text-align: center;
    color:white;
}
.poster-right h2{
    font-size: 36px;
    color:crimson;
}
.poster-right h1{
    font-size:44px;
}
.poster-right h3{
    font-size:44px;
}
.poster-right a{
    font-family:nanum-gothic;
    font-size:22px;
    color:white;
}



/* 공연정보 */

.list-container{
    height: 300px;
    width: 1200px;
    padding-top:50px;
    margin: auto;
    position: relative;

}

.performance{
    width: 1200px;
    height:250px;
    float:left;
    overflow:hidden;
}

/* button */

.prev {
    left : 0px;
    top : 170px;
}

.next {
    right : 0;
    top : 170px;
}
.button {
    opacity : 0.8;
    position : absolute;
    width : 50px;
    height: 50px;
}

.button img{
    width : 50px;
    height: 50px;
}

.performance h1{
    margin: auto;
}

.vertalign {position: absolute;}
.imgteaser {
    margin: 0;
    overflow: hidden;
    float: left;
    position: relative;
}
.imgteaser .more {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    font-family:tahoma;
    color: white; /* #fff; */
    background: red; /*#000;*/
    padding: 5px 10px;

}
.imgteaser .desc {   display: none; }
.imgteaser:hover .more { visibility: hidden;}
.imgteaser:hover .desc{ /*캡션 텍스트*/
    display: block;
    font-size: 11px;
    font-family:돋움;
    letter-spacing:-1px;
    line-height:140%;
    padding: 10px 10px;
    background: #111;
    filter:alpha(opacity=70);/*익스용 투명도 필터*/
    opacity:.70;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*--익스8용 투명도 필터--*/
    color: white; /* #fff; */
    position: absolute;
    bottom: 10px; /* 5px; */
    left: 10px;
    margin: 0;
    width: 180px; /*이미지 사이즈에서 -20뺀 값*/
    border-top: 1px solid #999;
}
.imgteaser:hover .desc strong {  /*캡션 제목 텍스트*/
    color:#00FFFF;
    display: block;
    margin-bottom: 5px;
    font-size:16px;
    font-family:dotum;
    font-weight:bold;
}

.column{
    margin: auto;
    width: 1100px;
}

.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
}
.column div:first-child {
    margin-left: 0;
}
.hover01 figure {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover01 figure img {
    float:left;
    width:100%;
    height:100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.imgteaser:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}



/* 푸터 */
footer {
    background-color: #191919;
    color: gray;
    width:100%;
    padding: 60px;
    height:70px;
}
.footer-box {
    width: 1100px;
    margin: auto;
}
.branch-link {
    float: left;
}
.branch-link a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 30px;
}
.branch-link a:hover {
    color: gray;
}
.link-sns {
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.sns {
    float: right;
}
.sns a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: dimgray;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 5px;
}
.sns a:hover {
    background-color: lightgray;
}
.sns i {
    padding-top: 3px;
}
.copyright {
    margin-top: 10px;
}
.copyright div:nth-child(1) {
    float: left;
    margin-top: 10px;
}
.copyright div:nth-child(2) {
    float: right;
    margin-top: 10px;
}
.copyright div:nth-child(1) a {
    color: #fff
}
.copyright div:nth-child(2) a {
    color: gray;
    font-size: 11px;
    display: inline-block;
    margin: 0 5px;

}
.copyright div:nth-child(2) a:hover {
    color: #fff;
}