@charset "utf-8";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


*{margin:0;padding:0;}
a { text-decoration: none; color: #222;}
@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, p, blockquote, th, td {
    padding:0;
    margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;

}

p {
    font-size: 12px;
    display: inline;
    margin-left: 22px;
}

h2#registration {
    font-size: 32px;
    font-weight: 500;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    /* margin-bottom: 10px; */
}

p#guidance {
    font-size: 15px;
    font-weight: 800;
    color: red;
    padding-top: 10px;
    margin-left: 30px;
}

html{
    background-color: #ffffff;
}

.joinbox {
    margin: 20px auto;
    width: 390px;
    height: 1600px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;

}

/* form{
  margin: 0 30px;
} */

/* 라디오 꾸미기 */

input[type=radio] {
    visibility: hidden;
}

label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}


label.radio:before {
    background: #1a1c26;
    content:'';
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

label#icon {
    width: 28px;
}

i.icon-male {
    margin-left:2px;
}


input[type=radio]:checked + label:after {
    opacity: 1;
}

hr{
    color: #a9a9a9;
    opacity: 0.3;
}


input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 240px;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px;
}


input[type=range] {
    width: 270px;
    height: 30px;
    margin: 4px 30px;

}

#profile::-webkit-input-placeholder{
    font-size: 18px;
    margin-left: 100px;
}



input[type=file] {
    margin: 10px 0px 10px 40px ;
}

#icon {
    display: inline-block;
    width: 30px;
    height: 23px;
    background-color: #1a1c26;
    padding: 10px 0px 7px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}

#messageFlagDiv {
    margin-left: 8px;
    margin-top: 20px;
}

.accounttype{
    margin-left: 15px;
    margin-top: 20px;
}

a.button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 0px 20px;
    margin: 10px 8px 20px 0px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 50px; height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #1a1c26;
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
}

a.button:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

#addBtn {
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 6px 25px 0px 20px;
    margin: 100px 8px 0px 230px;
    display: inline-block;
    text-decoration: none;
    width: 300px; height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #1a1c26;
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;

}

div#messageFlagDiv {
    margin-top: 5px;
    margin-bottom: 0px;

}

div#messageIdDiv {
    margin-top: -10px;
}

#addBtn:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#cuttingBtn {
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 0px 25px 0px 20px;
    margin: 0px 8px 0px 13px;
    display: inline-block;
    text-decoration: none;
    width: 300px; height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #1a1c26;
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
}

#cuttingBtn:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


input#type2 {
    margin-left: 22px;
}

#cutPhoto {
    color: blue;
}

label#interestAreas, label#interestgenres {
    font-size: 18px;
    font-weight: 800;
    display: block;
}

#interestAreasDiv {
    margin-top: 50px;
}

#areasDiv, #genresDiv, #interestgenresDiv {
    margin-top: 10px;
}


/* 적용본 */


body {
    background-color: #fff;
    font-family: 'Noto Sans','Nanum Gothic';
    color: #222;
}
header{
    background-color: white;
    border-bottom: 1px solid black;
}
.nav-main {
    padding-top: 20px;
    text-align: center;
}
.nav-main a {
    padding: 0 25px;
    font-weight: bold;
    font-size: 18px;
}
.nav-main a:hover {
    border-bottom: 2px solid #222;
    padding-bottom: 11px;
}
.main-nav{
    clear:both;
    height: 60px;
}
.logo-img{
    width:150px;
    margin-top: 5px;
    float: left;
}
.main-nav {
    margin: 10px;
}
.nav-right{
    width:200px;
    padding:20px;
    float: right;
    text-align:right;
}
.nav-right span{
    font-size: 15px;
    color:crimson;
    font-weight: bold;
}
.nav-right a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
.nav-right a:hover{
    border-bottom: 2px solid #222;
    padding-bottom: 11px;
}

.nav-text{
    margin: auto;
    width: 600px;
    padding-top: 10px;
}
.main-nav div img{
    width: 13%;
    padding: 0 10px;
}

.mt20{
    margin-top : 20px;
}

@charset "UTF-8";

/* 체크박스 꾸미기 */

input[type=checkbox] {
    visibility: hidden;
}

label.checkbox {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

label.checkbox:before {
    background: #1a1c26;
    content:'';
    position: absolute;
    top:2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

label.checkbox:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=checkbox]:checked + label:after {
    opacity: 1;
}



#mainDiv{
    margin: 20px auto;
    width: 770px;
    height: 930px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

.title{
    width: 500px;
    margin-top: 30px;
    margin-left: 300px;
}

.title span{
    font-size: 24px;
    font-weight: bolder;
}

.profile {
    margin-top: 40px;
}

div.photoPositioning {
    margin-left: 10px;
}

div.personalPositioning {
    margin-left: 10px;
}

div.artistPositioning {
    margin-left: 10px;
}

#photoInputDiv {
    margin: 10px 10px 5px 20px;
    float:left;
    width: 350px;
    height: 400px;
/*   background-color: green; */
}

#personalInfoDiv {
    margin: 0px 20px 5px 20px;
    float:left;
    width: 350px;
    height: 410px;
/*   background-color: blue; */
    position:relative;
}
#emailDiv {
    margin-top: 30px;
}

#artistInfoDiv {
    margin: 50px 10px 20px 20px;
    float:left;
    width: 730px;
    height: 250px;
}

#InterestInfoDiv {
    margin: 50px 20px 20px 20px;
    float:left;
    width: 720px;
    height: 200px;
    position:relative;
}

div#artistNameDiv {
    float: left;
}

div#artistMemberDiv {
    float: left;
    margin-left: 55px;
}

div#joinDateDiv {
    float: left;
}

div#profileDiv {
margin-bottom: 50px;
}

textarea {
width: 680px;
height: 100px;
-webkit-border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px/5px 5px 5px 5px;
background-color: #fff;
-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
box-shadow: 1px 2px 5px rgba(0,0,0,.09);
border: solid 1px #cbc9c9;
margin-left: 15px;
margin-top: 20px;
margin-bottom: 0px;
}
